{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "APIs to deploy and manage resources to SeaBreeze.",
        "title": "SeaBreezeManagementClient",
        "version": "2018-09-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-09-01-preview/servicefabricmesh.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "servicefabricmesh",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.ServiceFabricMesh/operations": {
            "get": {
                "description": "Lists all the available operations provided by Service Fabric SeaBreeze resource provider.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "The version of the API. This parameter is required and its value must be `2018-09-01-preview`.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "2018-09-01-preview",
                            "values": [
                                {
                                    "description": "The `2018-09-01-preview` version of the API.",
                                    "value": "2018-09-01-preview"
                                }
                            ]
                        },
                        "schema": {
                            "type": "string",
                            "enum": [
                                "2018-09-01-preview"
                            ],
                            "default": "2018-09-01-preview"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the result of the request to list Service Fabric operations.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URL to get the next set of operation list results if there are any.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Service Fabric operations supported by the Microsoft.ServiceFabric resource provider.",
                                            "items": {
                                                "description": "List of operations available at the listed Azure resource provider.",
                                                "properties": {
                                                    "display": {
                                                        "description": "The object that represents the operation.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "Description of the available operation.",
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "Name of the available operation.",
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "Name of the operation provider.",
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "Name of the resource on which the operation is available.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "The name of the operation.",
                                                        "type": "string"
                                                    },
                                                    "nextLink": {
                                                        "description": "The URL to use for getting the next set of results.",
                                                        "type": "string"
                                                    },
                                                    "origin": {
                                                        "description": "Origin result",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The error details.",
                                    "properties": {
                                        "error": {
                                            "description": "Error model information",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "List of error message details.",
                                                    "items": {
                                                        "description": "Error model details information",
                                                        "properties": {
                                                            "code": {
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Error message.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "code",
                                                            "message"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "innerError": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "Error message.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Lists all of the available operations.",
                "tags": [
                    "Operations"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/applications": {
            "get": {
                "description": "Gets the information about all application resources in a given resource group. The information include the description and other properties of the application.",
                "operationId": "Application_ListBySubscription",
                "parameters": [
                    {
                        "description": "The customer subscription identifier",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the API. This parameter is required and its value must be `2018-09-01-preview`.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "2018-09-01-preview",
                            "values": [
                                {
                                    "description": "The `2018-09-01-preview` version of the API.",
                                    "value": "2018-09-01-preview"
                                }
                            ]
                        },
                        "schema": {
                            "type": "string",
                            "enum": [
                                "2018-09-01-preview"
                            ],
                            "default": "2018-09-01-preview"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A pageable list of application resources.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URI to fetch the next page of the list.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "One page of the list.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The resource model definition for Azure Resource Manager resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified identifier for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                                                                        "readOnly": true,
                                                                        "type": "string",
                                                                        "x-ms-mutability": [
                                                                            "read"
                                                                        ]
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource",
                                                                        "readOnly": true,
                                                                        "type": "string",
                                                                        "x-ms-mutability": [
                                                                            "read"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                                                                        "readOnly": true,
                                                                        "type": "string",
                                                                        "x-ms-mutability": [
                                                                            "read"
                                                                        ]
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for Azure Resource Manager tracked top-level resource.",
                                                        "properties": {
                                                            "location": {
                                                                "description": "The geo-location where the resource lives",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "This type describes an application resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "This type describes properties of an application resource.",
                                                        "x-ms-client-flatten": true,
                                                        "allOf": [
                                                            {
                                                                "description": "Describes common properties of a provisioned resource.",
                                                                "properties": {
                                                                    "provisioningState": {
                                                                        "description": "State of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            {
                                                                "description": "Describes properties of a application resource.",
                                                                "properties": {
                                                                    "debugParams": {
                                                                        "description": "Internal - used by Visual Studio to setup the debugging session on the local development environment.",
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "description": "User readable description of the application.",
                                                                        "type": "string"
                                                                    },
                                                                    "diagnostics": {
                                                                        "description": "Describes the diagnostics definition and usage for an application resource.",
                                                                        "properties": {
                                                                            "defaultSinkRefs": {
                                                                                "description": "The sinks to be used if diagnostics is enabled. Sink choices can be overridden at the service and code package level.",
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "enabled": {
                                                                                "description": "Status of whether or not sinks are enabled.",
                                                                                "type": "boolean"
                                                                            },
                                                                            "sinks": {
                                                                                "description": "List of supported sinks that can be referenced.",
                                                                                "items": {
                                                                                    "description": "Properties of a DiagnosticsSink.",
                                                                                    "discriminator": {
                                                                                        "propertyName": "kind"
                                                                                    },
                                                                                    "properties": {
                                                                                        "description": {
                                                                                            "description": "A description of the sink.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "kind": {
                                                                                            "description": "The kind of DiagnosticsSink.",
                                                                                            "enum": [
                                                                                                "Invalid",
                                                                                                "AzureInternalMonitoringPipeline"
                                                                                            ],
                                                                                            "type": "string",
                                                                                            "x-ms-enum": {
                                                                                                "modelAsString": true,
                                                                                                "name": "DiagnosticsSinkKind",
                                                                                                "values": [
                                                                                                    {
                                                                                                        "description": "Indicates an invalid sink kind. All Service Fabric enumerations have the invalid type.",
                                                                                                        "value": "Invalid"
                                                                                                    },
                                                                                                    {
                                                                                                        "description": "Diagnostics settings for Geneva.",
                                                                                                        "value": "AzureInternalMonitoringPipeline"
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        },
                                                                                        "name": {
                                                                                            "description": "Name of the sink. This value is referenced by DiagnosticsReferenceDescription",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "kind"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "healthState": {
                                                                        "description": "Describes the health state of an application resource.",
                                                                        "readOnly": true,
                                                                        "enum": [
                                                                            "Invalid",
                                                                            "Ok",
                                                                            "Warning",
                                                                            "Error",
                                                                            "Unknown"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "HealthState",
                                                                            "values": [
                                                                                {
                                                                                    "description": "Indicates an invalid health state. All Service Fabric enumerations have the invalid type. The value is zero.",
                                                                                    "value": "Invalid"
                                                                                },
                                                                                {
                                                                                    "description": "Indicates the health state is okay. The value is 1.",
                                                                                    "value": "Ok"
                                                                                },
                                                                                {
                                                                                    "description": "Indicates the health state is at a warning level. The value is 2.",
                                                                                    "value": "Warning"
                                                                                },
                                                                                {
                                                                                    "description": "Indicates the health state is at an error level. Error health state should be investigated, as they can impact the correct functionality of the cluster. The value is 3.",
                                                                                    "value": "Error"
                                                                                },
                                                                                {
                                                                                    "description": "Indicates an unknown health status. The value is 65535.",
                                                                                    "value": "Unknown"
                                                                                }
                                                                            ]
                                                                        }
                                                                    },
                                                                    "serviceNames": {
                                                                        "description": "Names of the services in the application.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "readOnly": true,
                                                                        "type": "array"
                                                                    },
                                                                    "services": {
                                                                        "description": "Describes the services in the application. This property is used to create or modify services of the application. On get only the name of the service is returned. The service description can be obtained by querying for the service resource.",
                                                                        "items": {
                                                                            "allOf": [
                                                                                {
                                                                                    "description": "The resource model definition for Azure Resource Manager proxy resource. It will have everything other than required location and tags. This proxy resource is explicitly created or updated by including it in the parent resource.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "Fully qualified identifier for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                                                                                            "readOnly": true,
                                                                                            "type": "string",
                                                                                            "x-ms-mutability": [
                                                                                                "read"
                                                                                            ]
                                                                                        },
                                                                                        "name": {
                                                                                            "description": "The name of the resource",
                                                                                            "type": "string",
                                                                                            "x-ms-mutability": [
                                                                                                "read",
                                                                                                "create",
                                                                                                "update"
                                                                                            ]
                                                                                        },
                                                                                        "type": {
                                                                                            "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                                                                                            "readOnly": true,
                                                                                            "type": "string",
                                                                                            "x-ms-mutability": [
                                                                                                "read"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "x-ms-azure-resource": true,
                                                                                    "type": "object"
                                                                                }
                                                                            ],
                                                                            "description": "This type describes a service resource.",
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "description": "This type describes properties of a service resource.",
                                                                                    "x-ms-client-flatten": true,
                                                                                    "allOf": [
                                                                                        {
                                                                                            "description": "Describes common properties of a provisioned resource.",
                                                                                            "properties": {
                                                                                                "provisioningState": {
                                                                                                    "description": "State of the resource.",
                                                                                                    "readOnly": true,
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        {
                                                                                            "description": "Describes the properties of a service replica.",
                                                                                            "properties": {
                                                                                                "codePackages": {
                                                                                                    "description": "Describes the set of code packages that forms the service. A code package describes the container and the properties for running it. All the code packages are started together on the same host and share the same context (network, process etc.).",
                                                                                                    "items": {
                                                                                                        "description": "Describes a container and its runtime properties.",
                                                                                                        "properties": {
                                                                                                            "commands": {
                                                                                                                "description": "Command array to execute within the container in exec form.",
                                                                                                                "items": {
                                                                                                                    "type": "string"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            },
                                                                                                            "diagnostics": {
                                                                                                                "description": "Reference to sinks in DiagnosticsDescription.",
                                                                                                                "properties": {
                                                                                                                    "enabled": {
                                                                                                                        "description": "Status of whether or not sinks are enabled.",
                                                                                                                        "type": "boolean"
                                                                                                                    },
                                                                                                                    "sinkRefs": {
                                                                                                                        "description": "List of sinks to be used if enabled. References the list of sinks in DiagnosticsDescription.",
                                                                                                                        "items": {
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "type": "array"
                                                                                                                    }
                                                                                                                },
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "endpoints": {
                                                                                                                "description": "The endpoints exposed by this container.",
                                                                                                                "items": {
                                                                                                                    "description": "Describes a container endpoint.",
                                                                                                                    "properties": {
                                                                                                                        "name": {
                                                                                                                            "description": "The name of the endpoint.",
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "port": {
                                                                                                                            "description": "Port used by the container.",
                                                                                                                            "type": "integer"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "required": [
                                                                                                                        "name"
                                                                                                                    ],
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            },
                                                                                                            "entrypoint": {
                                                                                                                "description": "Override for the default entry point in the container.",
                                                                                                                "type": "string"
                                                                                                            },
                                                                                                            "environmentVariables": {
                                                                                                                "description": "The environment variables to set in this container",
                                                                                                                "items": {
                                                                                                                    "description": "Describes an environment variable for the container.",
                                                                                                                    "properties": {
                                                                                                                        "name": {
                                                                                                                            "description": "The name of the environment variable.",
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "value": {
                                                                                                                            "description": "The value of the environment variable.",
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            },
                                                                                                            "image": {
                                                                                                                "description": "The Container image to use.",
                                                                                                                "type": "string"
                                                                                                            },
                                                                                                            "imageRegistryCredential": {
                                                                                                                "description": "Image registry credential.",
                                                                                                                "properties": {
                                                                                                                    "password": {
                                                                                                                        "description": "The password for the private registry. The password is required for create or update operations, however it is not returned in the get or list operations.",
                                                                                                                        "type": "string"
                                                                                                                    },
                                                                                                                    "server": {
                                                                                                                        "description": "Docker image registry server, without protocol such as `http` and `https`.",
                                                                                                                        "type": "string"
                                                                                                                    },
                                                                                                                    "username": {
                                                                                                                        "description": "The username for the private registry.",
                                                                                                                        "type": "string"
                                                                                                                    }
                                                                                                                },
                                                                                                                "required": [
                                                                                                                    "server",
                                                                                                                    "username"
                                                                                                                ],
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "instanceView": {
                                                                                                                "description": "Runtime information of a container instance.",
                                                                                                                "readOnly": true,
                                                                                                                "properties": {
                                                                                                                    "currentState": {
                                                                                                                        "description": "Current container instance state.",
                                                                                                                        "properties": {
                                                                                                                            "detailStatus": {
                                                                                                                                "description": "Human-readable status of this state.",
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "exitCode": {
                                                                                                                                "description": "The container exit code.",
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "finishTime": {
                                                                                                                                "description": "Date/time when the container state finished.",
                                                                                                                                "format": "date-time",
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "startTime": {
                                                                                                                                "description": "Date/time when the container state started.",
                                                                                                                                "format": "date-time",
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "state": {
                                                                                                                                "description": "The state of this container",
                                                                                                                                "type": "string"
                                                                                                                            }
                                                                                                                        },
                                                                                                                        "type": "object"
                                                                                                                    },
                                                                                                                    "events": {
                                                                                                                        "description": "The events of this container instance.",
                                                                                                                        "items": {
                                                                                                                            "description": "A container event.",
                                                                                                                            "properties": {
                                                                                                                                "count": {
                                                                                                                                    "description": "The count of the event.",
                                                                                                                                    "type": "integer"
                                                                                                                                },
                                                                                                                                "firstTimestamp": {
                                                                                                                                    "description": "Date/time of the first event.",
                                                                                                                                    "type": "string"
                                                                                                                                },
                                                                                                                                "lastTimestamp": {
                                                                                                                                    "description": "Date/time of the last event.",
                                                                                                                                    "type": "string"
                                                                                                                                },
                                                                                                                                "message": {
                                                                                                                                    "description": "The event message",
                                                                                                                                    "type": "string"
                                                                                                                                },
                                                                                                                                "name": {
                                                                                                                                    "description": "The name of the container event.",
                                                                                                                                    "type": "string"
                                                                                                                                },
                                                                                                                                "type": {
                                                                                                                                    "description": "The event type.",
                                                                                                                                    "type": "string"
                                                                                                                                }
                                                                                                                            },
                                                                                                                            "type": "object"
                                                                                                                        },
                                                                                                                        "type": "array"
                                                                                                                    },
                                                                                                                    "previousState": {
                                                                                                                        "description": "Previous container instance state.",
                                                                                                                        "properties": {
                                                                                                                            "detailStatus": {
                                                                                                                                "description": "Human-readable status of this state.",
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "exitCode": {
                                                                                                                                "description": "The container exit code.",
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "finishTime": {
                                                                                                                                "description": "Date/time when the container state finished.",
                                                                                                                                "format": "date-time",
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "startTime": {
                                                                                                                                "description": "Date/time when the container state started.",
                                                                                                                                "format": "date-time",
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "state": {
                                                                                                                                "description": "The state of this container",
                                                                                                                                "type": "string"
                                                                                                                            }
                                                                                                                        },
                                                                                                                        "type": "object"
                                                                                                                    },
                                                                                                                    "restartCount": {
                                                                                                                        "description": "The number of times the container has been restarted.",
                                                                                                                        "type": "integer"
                                                                                                                    }
                                                                                                                },
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "labels": {
                                                                                                                "description": "The labels to set in this container.",
                                                                                                                "items": {
                                                                                                                    "description": "Describes a container label.",
                                                                                                                    "properties": {
                                                                                                                        "name": {
                                                                                                                            "description": "The name of the container label.",
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "value": {
                                                                                                                            "description": "The value of the container label.",
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "required": [
                                                                                                                        "name",
                                                                                                                        "value"
                                                                                                                    ],
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            },
                                                                                                            "name": {
                                                                                                                "description": "The name of the code package.",
                                                                                                                "type": "string"
                                                                                                            },
                                                                                                            "reliableCollectionsRefs": {
                                                                                                                "description": "A list of ReliableCollection resources used by this particular code package. Please refer to ReliableCollectionsRef for more details.",
                                                                                                                "items": {
                                                                                                                    "description": "Specifying this parameter adds support for reliable collections",
                                                                                                                    "properties": {
                                                                                                                        "doNotPersistState": {
                                                                                                                            "description": "False (the default) if ReliableCollections state is persisted to disk as usual. True if you do not want to persist state, in which case replication is still enabled and you can use ReliableCollections as distributed cache.",
                                                                                                                            "type": "boolean"
                                                                                                                        },
                                                                                                                        "name": {
                                                                                                                            "description": "Name of ReliableCollection resource. Right now it's not used and you can use any string.",
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "required": [
                                                                                                                        "name"
                                                                                                                    ],
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            },
                                                                                                            "resources": {
                                                                                                                "description": "The resources required by this container.",
                                                                                                                "properties": {
                                                                                                                    "limits": {
                                                                                                                        "description": "Describes the maximum limits on the resources for a given container.",
                                                                                                                        "properties": {
                                                                                                                            "cpu": {
                                                                                                                                "description": "CPU limits in cores. At present, only full cores are supported.",
                                                                                                                                "format": "double",
                                                                                                                                "type": "number"
                                                                                                                            },
                                                                                                                            "memoryInGB": {
                                                                                                                                "description": "The memory limit in GB.",
                                                                                                                                "format": "double",
                                                                                                                                "type": "number"
                                                                                                                            }
                                                                                                                        },
                                                                                                                        "type": "object"
                                                                                                                    },
                                                                                                                    "requests": {
                                                                                                                        "description": "Describes the requested resources for a given container.",
                                                                                                                        "properties": {
                                                                                                                            "cpu": {
                                                                                                                                "description": "Requested number of CPU cores. At present, only full cores are supported.",
                                                                                                                                "format": "double",
                                                                                                                                "type": "number"
                                                                                                                            },
                                                                                                                            "memoryInGB": {
                                                                                                                                "description": "The memory request in GB for this container.",
                                                                                                                                "format": "double",
                                                                                                                                "type": "number"
                                                                                                                            }
                                                                                                                        },
                                                                                                                        "required": [
                                                                                                                            "memoryInGB",
                                                                                                                            "cpu"
                                                                                                                        ],
                                                                                                                        "type": "object"
                                                                                                                    }
                                                                                                                },
                                                                                                                "required": [
                                                                                                                    "requests"
                                                                                                                ],
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "settings": {
                                                                                                                "description": "The settings to set in this container. The setting file path can be fetched from environment variable \"Fabric_SettingPath\". The path for Windows container is \"C:\\\\secrets\". The path for Linux container is \"/var/secrets\".",
                                                                                                                "items": {
                                                                                                                    "description": "Describes a setting for the container. The setting file path can be fetched from environment variable \"Fabric_SettingPath\". The path for Windows container is \"C:\\\\secrets\". The path for Linux container is \"/var/secrets\".",
                                                                                                                    "properties": {
                                                                                                                        "name": {
                                                                                                                            "description": "The name of the setting.",
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "value": {
                                                                                                                            "description": "The value of the setting.",
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            },
                                                                                                            "volumeRefs": {
                                                                                                                "description": "Volumes to be attached to the container. The lifetime of these volumes is independent of the application's lifetime.",
                                                                                                                "items": {
                                                                                                                    "description": "Describes a reference to a volume resource.",
                                                                                                                    "properties": {
                                                                                                                        "destinationPath": {
                                                                                                                            "description": "The path within the container at which the volume should be mounted. Only valid path characters are allowed.",
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "name": {
                                                                                                                            "description": "Name of the volume being referenced.",
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "readOnly": {
                                                                                                                            "description": "The flag indicating whether the volume is read only. Default is 'false'.",
                                                                                                                            "type": "boolean"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "required": [
                                                                                                                        "name",
                                                                                                                        "destinationPath"
                                                                                                                    ],
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            },
                                                                                                            "volumes": {
                                                                                                                "description": "Volumes to be attached to the container. The lifetime of these volumes is scoped to the application's lifetime.",
                                                                                                                "items": {
                                                                                                                    "allOf": [
                                                                                                                        {
                                                                                                                            "description": "Describes a reference to a volume resource.",
                                                                                                                            "properties": {
                                                                                                                                "destinationPath": {
                                                                                                                                    "description": "The path within the container at which the volume should be mounted. Only valid path characters are allowed.",
                                                                                                                                    "type": "string"
                                                                                                                                },
                                                                                                                                "name": {
                                                                                                                                    "description": "Name of the volume being referenced.",
                                                                                                                                    "type": "string"
                                                                                                                                },
                                                                                                                                "readOnly": {
                                                                                                                                    "description": "The flag indicating whether the volume is read only. Default is 'false'.",
                                                                                                                                    "type": "boolean"
                                                                                                                                }
                                                                                                                            },
                                                                                                                            "required": [
                                                                                                                                "name",
                                                                                                                                "destinationPath"
                                                                                                                            ],
                                                                                                                            "type": "object"
                                                                                                                        }
                                                                                                                    ],
                                                                                                                    "description": "Describes a volume whose lifetime is scoped to the application's lifetime.",
                                                                                                                    "properties": {
                                                                                                                        "creationParameters": {
                                                                                                                            "description": "Describes parameters for creating application-scoped volumes.",
                                                                                                                            "discriminator": {
                                                                                                                                "propertyName": "kind"
                                                                                                                            },
                                                                                                                            "properties": {
                                                                                                                                "description": {
                                                                                                                                    "description": "User readable description of the volume.",
                                                                                                                                    "type": "string"
                                                                                                                                },
                                                                                                                                "kind": {
                                                                                                                                    "description": "Specifies the application-scoped volume kind.",
                                                                                                                                    "enum": [
                                                                                                                                        "ServiceFabricVolumeDisk"
                                                                                                                                    ],
                                                                                                                                    "type": "string",
                                                                                                                                    "x-ms-enum": {
                                                                                                                                        "modelAsString": true,
                                                                                                                                        "name": "ApplicationScopedVolumeKind",
                                                                                                                                        "values": [
                                                                                                                                            {
                                                                                                                                                "description": "Provides Service Fabric High Availability Volume Disk",
                                                                                                                                                "value": "ServiceFabricVolumeDisk"
                                                                                                                                            }
                                                                                                                                        ]
                                                                                                                                    }
                                                                                                                                }
                                                                                                                            },
                                                                                                                            "required": [
                                                                                                                                "kind"
                                                                                                                            ],
                                                                                                                            "type": "object"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "required": [
                                                                                                                        "creationParameters"
                                                                                                                    ],
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            }
                                                                                                        },
                                                                                                        "required": [
                                                                                                            "name",
                                                                                                            "image",
                                                                                                            "resources"
                                                                                                        ],
                                                                                                        "type": "object"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "diagnostics": {
                                                                                                    "description": "Reference to sinks in DiagnosticsDescription.",
                                                                                                    "properties": {
                                                                                                        "enabled": {
                                                                                                            "description": "Status of whether or not sinks are enabled.",
                                                                                                            "type": "boolean"
                                                                                                        },
[...]
